<div class="container mt-5">
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
         <form action="">
            <div class="card">
                <div class="card-header">
                    <h4>Admin Login</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="pasword" class="form-control">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
         </form>
    </div>
</div>
</div>